<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weibo</title>
    <style>
        .comment {
            border: 1px red solid;
        }
    </style>
</head>
<body>
{#    <a href="/weibo/new">写新微博</a>#}

    <div>
        <input id="id-input-weibo">
        <button id="id-button-add-weibo">发表微博</button>
    </div>
    <div class="weibo-list gua-auto-list"
         data-method="get"
         data-path="/api/weibo/all"
         data-template="xxtemplate"
    >
        <div class="comment">

        </div>
        <div class="comment-form">
            <input type="hidden" name="weibo_id" value="">
            <input name="content">
            <br>
            <button class="comment-add">添加评论</button>
        </div>
    </div>

    <!--
    {% for w in weibos %}
    <p>
        {{ w.content }} from {{ user.username }}
        <a href="/weibo/delete?id={{ w.id }}">删除</a>
        <a href="/weibo/edit?id={{ w.id }}">修改</a>
        {% for c in w.comments() %}
            <div class="comment">
                {{ c.user().username }} : {{ c.content }}
            </div>
        {% endfor %}
        <form action="/comment/add" method="POST">
            <input type="hidden" name="weibo_id" value="{{ w.id }}">
            <input name="content">
            <br>
            <button type="submit">添加评论</button>
        </form>
    </p>
    {% endfor %}
    -->
    <script src='/static?file=js/api.js'></script>
    <script src='/static?file=js/weibo.js'></script>
</body>
</html>